<section class="cardPreview">
  <div>
    <button class="cardPreview__clearButton">
      <i class="far fa-trash-alt"></i>
      RESET
    </button>
    <div class="cardPreview__card">
      <div class="cardPreview__info">
        <h1 class="cardPreview__name js-name">Nombre Apellido</h1>
        <h2 class="cardPreview__position js-position">Front-End developer</h2>
      </div>
      <div class="cardPreview__profileImage">
        <img />
      </div>
      <div class="cardPreview__socialMedia">
        <div class="cardPreview__socialMediaContainer">
          <i class="fas fa-mobile-alt"></i>
        </div>
        <div class="cardPreview__socialMediaContainer">
          <i class="fas fa-envelope"></i>
        </div>
        <div class="cardPreview__socialMediaContainer">
          <i class="fab fa-linkedin-in"></i>
        </div>
        <div class="cardPreview__socialMediaContainer">
          <i class="fab fa-github-alt"></i>
        </div>
      </div>
    </div>
  </div>
</section>
