<section class="cardPreview">
  <div>
    <button class="cardPreview__clearButton js-clear-button">
      <i class="far fa-trash-alt"></i>
      RESET
    </button>
    <div class="cardPreview__card">
      <div class="cardPreview__info js-border-box js_palette1_border_box">
        <h1 class="cardPreview__name js-name js_palette1_color">
          Nombre Apellido
        </h1>
        <h2 class="cardPreview__position js-job">
          Front-End developer
        </h2>
      </div>
      <div class="cardPreview__profileImage js__profile-image">
        <img />
      </div>
      <div
        class="cardPreview__socialMedia js-icon-container js_palette1_border_color"
      >
        <div
          class="cardPreview__socialMediaContainer js-icon-container jscontainer-email js_palette1_border_color hidden-icon"
        >
          <a class="js-email" href="#">
            <i class="fas fa-envelope js-icon js_palette1_color"></i>
          </a>
        </div>
        <div
          class="cardPreview__socialMediaContainer js-icon-container jscontainer-phone js_palette1_border_color hidden-icon"
        >
          <a class="js-phone" href="#">
            <i class="fas fa-mobile-alt js-icon js_palette1_color"></i>
          </a>
        </div>
        <div
          class="cardPreview__socialMediaContainer js-icon-container jscontainer-linkedin js_palette1_border_color hidden-icon"
        >
          <a class="js-linkedin" target="_blank" href="#">
            <i class="fab fa-linkedin-in js-icon js_palette1_color"></i>
          </a>
        </div>
        <div
          class="cardPreview__socialMediaContainer js-icon-container jscontainer-github js_palette1_border_color hidden-icon"
        >
          <a class="js-github" target="_blank" href="#">
            <i class="fab fa-github-alt js-icon js_palette1_color"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
