<section class="design">
  <div class="design__section">
    <img class="fill__section--img" src="./assets/images/diseño.png" />
    <h2 class="design__section--title">Diseña</h2>
    <a class="design__section--button" href="#" data-toggle="collapse">
      <img class="design__section--img" src="./assets/images/scroll-down.png" />
    </a>
  </div>
  <div class="designform">
    <form>
      <fieldset>
        <div class="designform__palette">
          <div class="designform__colors">
            <label for="name">Colores</label>
          </div>
          <div class="designform__palette1">
            <input
              id="palette1"
              type="radio"
              value="palette"
              name="paletteoptions"
            />
          </div>
          <div class="designform__palette2">
            <input
              id="palette2"
              type="radio"
              value="palette"
              name="paletteoptions"
            />
          </div>

          <div class="designform__palette3">
            <input
              id="palette3"
              type="radio"
              value="palette"
              name="paletteoptions"
            />
          </div>
          <div class="designform__color1"></div>
          <div class="designform__color2"></div>
          <div class="designform__color3"></div>
          <div class="designform__color4"></div>
          <div class="designform__color5"></div>
          <div class="designform__color6"></div>
          <div class="designform__color7"></div>
          <div class="designform__color8"></div>
          <div class="designform__color9"></div>
        </div>
      </fieldset>
    </form>
  </div>
</section>
