<section class="design">
  <div class="design__section">
    <h2 class="design__section--title">Diseña</h2>
    <a class="design__section--button" href="#" data-toggle="collapse">
      <img class="design__section--img" src="./assets/images/scroll-down.png" />
    </a>
  </div>
  <div class="designform">
    <form>
      <fieldset>
        <div class="designform__name">
          <label for="name">Colores</label>
          <input
            id="palette1"
            type="radio"
            value="palette"
            name="paletteoptions"
          />
          <input
            id="palette2"
            type="radio"
            value="palette"
            name="paletteoptions"
          />
          <input
            id="palette3"
            type="radio"
            value="palette"
            name="paletteoptions"
          />
        </div>
        <div class="form__img"></div>
      </fieldset>
    </form>
    <h2 class="fill__section--title">Rellena</h2>
    <img class="fill__section--img" src="./assets/images/teclado.png" />
    <a class="fill__section--button" href="#" data-toggle="collapse">
      <img class="fill__section--img" src="./assets/images/scroll-down.png" />
    </a>
    <h2 class="share__section--title">Comparte</h2>
    <a class="share__section--button" href="#" data-toggle="collapse">
      <img class="share__section--img" src="./assets/images/scroll-down.png" />
    </a>
  </div>
</section>
