<section class="design wrapper">
  <div class="design__section js-coll">
    <div class="desgin__section--box">
      <i class="far fa-clone"></i>
      <h2 class="design__section--title">Diseña</h2>
    </div>
    <a class="design__section--button" href="#" data-toggle="collapse">
      <i class="fas fa-chevron-down design__section--img"></i>
    </a>
  </div>
  <div class="designform js-collapsable">
    <fieldset>
      <div class="designform__palette">
        <div class="designform__colors">
          <label for="name">Colores</label>
        </div>
        <div class="designform__palette1">
          <input
            class="js_palette1"
            id="1"
            type="radio"
            value="palette1"
            name="paletteoptions"
            checked="checked"
          />
        </div>
        <div class="designform__palette2">
          <input
            class="js_palette2"
            id="2"
            type="radio"
            value="palette2"
            name="paletteoptions"
          />
        </div>

        <div class="designform__palette3">
          <input
            class="js_palette3"
            id="3"
            type="radio"
            value="palette3"
            name="paletteoptions"
          />
        </div>
        <div class="designform__palette4">
          <input
            class="js_palette4"
            id="4"
            type="radio"
            value="palette4"
            name="paletteoptions"
          />
        </div>
        <div class="designform__palette5">
          <input
            class="js_palette5"
            id="5"
            type="radio"
            value="palette5"
            name="paletteoptions"
          />
        </div>
        <div class="designform__color1"></div>
        <div class="designform__color2"></div>
        <div class="designform__color3"></div>
        <div class="designform__color4"></div>
        <div class="designform__color5"></div>
        <div class="designform__color6"></div>
        <div class="designform__color7"></div>
        <div class="designform__color8"></div>
        <div class="designform__color9"></div>
        <div class="designform__color10"></div>
        <div class="designform__color11"></div>
        <div class="designform__color12"></div>
        <div class="designform__color13"></div>
        <div class="designform__color14"></div>
        <div class="designform__color15"></div>
      </div>
    </fieldset>
  </div>
</section>
