<section class="fill">
  <div class="fill__section">
    <img class="fill__section--img" />
    <h2 class="fill__section--title">RELLENA</h2>
  </div>
  <div class="form">
    <form>
      <fieldset>
        <div class="form__name">
          <label for="name">Nombre completo</label>
          <input type="text" id="name" name="name" />
        </div>
        <div class="form__job">
          <label for="job">Puesto</label>
          <input type="text" id="job" name="jobPosition" />
        </div>
        <div>
          <label for="img">Imagen de perfil</label>
          <input class="form__button" type="submit" value="Añadir imagen" />
          <input
            id="imgOption"
            type="checkbox"
            value="fillImg"
            name="imgOptions"
          />
        </div>
      </fieldset>
      <fieldset>
        <label for="name">Email</label>
        <input type="text" id="name" name="name" />
        <label for="phone">Teléfono</label>
        <input type="text" id="surnames" name="surnames" />
        <label for="phone">Linkedin</label>
        <input type="tel" id="phone" name="phone" />
        <label for="phone">Github</label>
        <input type="tel" id="phone" name="phone" />
      </fieldset>
    </form>
  </div>
</section>
