<!-- closed TAB -->
<section class="share wrapper">
  <div class="share__tab js-coll">
    <div class="share__tab--description">
      <i class="fas fa-share-alt tab__image"></i>
      <h2 class="tab__text">Comparte</h2>
    </div>
    <i class="fas fa-chevron-down tab__icon"></i>
  </div>
  <div class="js-collapsable">
    <!-- opened TAB -->
    <div class="createcard__button--container">
      <button type="submit" class="createcard__button js-createcard__button">
        <div class="createcard__button--icon">
          <i class="far fa-address-card"></i>
        </div>
        <span class="createcard__button--icon">Crear tarjeta</span>
      </button>
      <section class="notification wrapper content js-share__section">
        <p>La tarjeta ha sido creada:</p>
        <p class="response__url js-apiLink">
          https://awesome-profile-card.com?id=A456DF0001
        </p>
        <a class="share__button js-share__button">
          <div class="share__button">
            <div class="share__button--icon">
              <i class="fab fa-twitter share__icon"></i>
            </div>
            <span class="share__button--text">
              Compartir en twitter
            </span>
          </div>
        </a>
      </section>
    </div>
  </div>
</section>
<!--opened TAB + action button -->
