<!-- closed TAB -->
<section class="share wrapper">
  <div class="share__tab js-coll">
    <div class="share__tab--description">
      <i class="fas fa-share-alt tab__image"></i>
      <h2 class="tab__text">Comparte</h2>
    </div>
    <i class="fas fa-chevron-down tab__icon"></i>
  </div>
  <div class="js-collapsable">
    <!-- opened TAB -->
    <div class="form__button--container">
      <button class="form__button">
        <div class="form__button--icon">
          <i class="far fa-address-card"></i>
        </div>
        <span class="form__button--icon">Crear tarjeta</span>
      </button>
    </div>
  </div>
</section>
<!--opened TAB + action button -->

<section class="notification wrapper content">
  <p>La tarjeta ha sido creada:</p>
  <p class="response__url">https://awesome-profile-card.com?id=A456DF0001</p>
  <button class="share__button">
    <div class="share__button--icon">
      <i class="fab fa-twitter share__icon"></i>
    </div>
    <span class="share__button--text">
      Compartir en twitter
    </span>
  </button>
</section>
