// fonts

//Pongo "font-start" porque es la página de inicio, si queréis podéis llamar a las demás algo así como "font-main"
$font-start-title:'Merriweather', serif;
$font-start-main:"Open Sans", sans-serif;


//font-special-colors
$color-font-grey:#54585a;


// color palette
$black: #000000;
$color-dark-green: #114e4e;
$blue: #438792;
$green-light: #a2deaf;
$dirty-white: #f9f4dc;
$slightly-grey: #f5f5f5;
$white: #ffffff;
$orange: #e17334;
$orange-transparent:#e1733436; 
$azure: #00a0f5;
$color-grey-light: #d8d8d8;
