// fonts
/* font-family: "Merriweather", serif;
font-family: "Montserrat", sans-serif;
font-family: "Open Sans", sans-serif; */

// color palette
$black: #000000;
$color-dark-green: #114e4e;
$blue: #438792;
$blue-light: #a2deaf;
$dirty-white: #f9f4dc;
$slightly-grey: #f5f5f5;
$white: #ffffff;
$orange: #e17334;
$azure: #00a0f5;
