.main {
  display: grid;
  grid-template-columns: 1fr;
  background-color: grey;
  padding: 20px 40px;

  @include tablet {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

.cardPreview {
  display: flex;
  height: 457px;
  background-color: $pale-grey;
  padding: 38px 45px 40px 45px;
  grid-column: 2/4;
  grid-row: 1/4;

  @include tablet {
    justify-content: center;
    align-items: center;
    height: 812px;
  }

  &__cardWrapper {
    width: 240px;
  }

  &__clearButton {
    height: 30px;
    width: 75px;
    background-color: transparent;
    border-radius: 15px;
    font-family: $font-start-main;
    border: solid $white 1px;
    font-size: 12px;
    text-align: center;
    outline: inherit;
    cursor: pointer;
    margin-bottom: 20px;

    i {
      padding-right: 5px;
    }
  }

  &__card {
    height: 329px;
    width: 240px;
    background-color: $white;
    font-family: $font-main-title;
    padding-top: 21px;
    box-shadow: 2px 2px 9px 0px rgba(173, 171, 173, 1);
  }

  &__info {
    padding-left: 15px;
    margin-bottom: 10px;
    position: relative;
    border-left: 5px solid $color-dark-green;
  }

  &__name {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    color: $color-dark-green;
  }

  &__position {
    font-size: 16px;
    color: $color-font-grey;
    font-weight: lighter;
    margin-top: 4px;
  }

  &__profileImage {
    height: 200px;
    background-color: grey;
    margin-bottom: 10px;
  }

  &__socialMedia {
    display: flex;
    justify-content: flex-start;
    height: 45px;
    padding-left: 20px;
  }

  &__socialMediaContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    border: 2px solid $green-light;
    border-radius: 100%;
    margin-right: 10px;

    .fas,
    .fab {
      color: $color-dark-green;
    }
  }
}
