.design {
  font-family: "Open Sans", sans-serif;
  color: $color-dark-green;
  text-transform: uppercase;
  padding-bottom: 20px;

  &__section {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 15px;
    .desgin__section--box {
      display: flex;
      flex-direction: row;
    }
    .far,
    .fa-clone {
      color: $orange;
    }
    &--title {
      font-size: 1.125em;
      padding-left: 10px;
    }

    &--img {
      padding-bottom: 0;
      width: 21px;
      height: 18px;
      align-self: center;
    }
  }
}

.designform {
  font-size: 0.875em;
  padding-bottom: 20px;

  &__palette {
    display: grid;
    grid-template-columns: 1fr 30px 30px 30px 30px;
    grid-template-rows: 33% 33% 33%;
    grid-row-gap: 10px;
  }

  &__colors {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-start: 1;
    width: 62px;
    height: 19px;
  }
  &__palette1 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  &__palette2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  &__palette3 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  &__color1 {
    background-color: $color-dark-green;
    width: 30px;
    height: 25px;
  }
  &__color2 {
    background-color: $blue;
    width: 30px;
    height: 25px;
  }
  &__color3 {
    background-color: $green-light;
    width: 30px;
    height: 25px;
  }
  &__color4 {
    background-color: $dried-blood;
    width: 30px;
    height: 25px;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  &__color5 {
    background-color: $rusty-red;
    width: 30px;
    height: 25px;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  &__color6 {
    background-color: $tomato;
    width: 30px;
    height: 25px;
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  &__color7 {
    background-color: $slate;
    width: 30px;
    height: 25px;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  &__color8 {
    background-color: $faded-orange;
    width: 30px;
    height: 25px;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  &__color9 {
    background-color: $light-grey-blue;
    width: 30px;
    height: 25px;
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
  }
}
