.header {
  &__wrapper {
    max-width: 1280px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: 180px;

    @include tablet {
      width: 230px;
    }
  }

  &__logoAW {
    display: none;

    @include tablet {
      display: block;
      width: 140px;
    }
  }
}
