.header {
  display: flex;
  align-items: center;

  &__logo {
    width: 210px;
    height: 100px;
    margin-left: 30px;
    // margin: 31px 79px 10px 40px;
  }

  &__wrapper {
    width: 100%;
    max-width: 1200px;
    margin: auto;
  }
}
