.hero{
    background-color:$slightly-grey;
    width:100%;
}
.img-main-hero{
    width:250px;
    height:63px;
    margin-right:35px;
    margin-left:35px;
    margin-top:95px;
    margin-bottom:35.4px;
}